---
import {
  isDevelopment,
  getPageMenuLinksFromPath,
  getAuthorDescription,
} from "@util";
import { getCollection } from "astro:content";
import CollectionLayout from "@layouts/CollectionLayout.astro";
import GenericCard from "@components/GenericCard.svelte";

const notes = await getCollection("notes", ({ data }) =>
  isDevelopment ? true : data.published,
);
const authors = [...new Set(notes.map((k) => k.data.authors).flat())];
const pageMenuLinks = getPageMenuLinksFromPath("/notes");

const authorsCount = {};
authors.forEach((t) => {
  authorsCount[t] = 0;
  notes.forEach((n) => {
    if (n.data.authors.includes(t)) authorsCount[t]++;
  });
});
---

<CollectionLayout
  pageTitle=`Browse Notes by Author`
  heroTitle="Notes by Author"
  heroSubtitle={`Browse note authors (${authors.length})`}
  heroColor="primary"
  {pageMenuLinks}
  pageDescription="Notes by Author"
>
  <section class="container box">
    <div class="grid-default">
      {
        authors.map((t) => (
          <GenericCard
            link={`/notes/authors/${t}`}
            title={`${t}`}
            subtitle={`${authorsCount[t]} Note${authorsCount[t] > 1 ? "s" : ""}`}
            description={getAuthorDescription(t)}
          />
        ))
      }
    </div>
  </section>
</CollectionLayout>
