---
import {
  isDevelopment,
  getPageMenuLinksFromPath,
  getTagDescription,
} from "@util";
import { getCollection } from "astro:content";
import CollectionLayout from "@layouts/CollectionLayout.astro";
import GenericCard from "@components/GenericCard.svelte";

const notes = await getCollection("notes", ({ data }) =>
  isDevelopment ? true : data.published,
);
const tags = [...new Set(notes.map((k) => k.data.tags).flat())];
const pageMenuLinks = getPageMenuLinksFromPath("/notes");

const tagsCount = {};
tags.forEach((t) => {
  tagsCount[t] = 0;
  notes.forEach((n) => {
    if (n.data.tags.includes(t)) tagsCount[t]++;
  });
});
---

<CollectionLayout
  pageTitle=`Browse Notes by Tag`
  heroTitle="Notes by Tag"
  heroSubtitle={`Browse note tags (${tags.length})`}
  heroColor="primary"
  {pageMenuLinks}
  pageDescription="Notes by Tag"
>
  <section class="container box">
    <div class="grid-default">
      {
        tags.map((t) => (
          <GenericCard
            link={`/notes/tags/${t}`}
            title={`#${t}`}
            subtitle={`${tagsCount[t]} Notes`}
            description={getTagDescription(t)}
          />
        ))
      }
    </div>
  </section>
</CollectionLayout>
