---
const { links, currentPage = null } = Astro.props;

const currentPath = Astro.url.pathname;
const isActive = (path) => {
  const current = currentPath.split("/").splice(1);
  const link = path.split("/").splice(1);

  // @TODO: theres definitely a better way to do this - this is very hard to read >.<
  if (path === currentPath) return true; // standard links
  if (
    currentPage &&
    current[current.length - 1] === `${currentPage}` &&
    link[link.length - 1] === current[current.length - 2]
  )
    return true; // single-level paginated links
  if (
    (currentPage &&
      link[link.length - 1] === "tags" &&
      current[current.length - 2] === "tags") ||
    (link[link.length - 1] === "tags" &&
      current[current.length - 3] === "tags" &&
      current[current.length - 1] === `${currentPage}`)
  )
    return true; // notes tags paginated links
  if (
    (currentPage &&
      link[link.length - 1] === "authors" &&
      current[current.length - 2] === "authors") ||
    (link[link.length - 1] === "authors" &&
      current[current.length - 3] === "authors" &&
      current[current.length - 1] === `${currentPage}`)
  )
    return true; // notes authors paginated links
  return false;
};
---

<div class="page-menu">
  <ul class="contain">
    {
      links.map((l) => (
        <li>
          <a href={l.path} class:list={[{ active: isActive(l.path) }]}>
            {l.title}
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style lang="scss">
  @use "@css/util";

  .page-menu {
    position: relative;
    display: flex;
    padding: 0.85rem 0;
    background-color: var(--font-color-opposite);
    border-top: 2px solid var(--background-accent);
    border-bottom: 2px solid var(--background-accent);
    @include util.zindex(pageMenu);
  }

  .page-menu ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  li,
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    padding: 0 1rem;
    border: 2px solid var(--font-color);
    border-radius: 1em;
    color: var(--font-color);

    &:not(.active):hover,
    &:focus-within {
      text-decoration: underline;
      z-index: 2;
    }
  }

  .active {
    background-color: var(--font-color);
    color: var(--font-color-opposite);
  }
</style>
