---
const currentUrl = Astro.url.pathname;
const {
  currentPage,
  lastPage,
  total,
  prevUrl,
  nextUrl,
  label = "items",
} = Astro.props;
---

<nav>
  {!prevUrl && <i>&lsaquo; Previous</i>}
  {prevUrl && <a href={prevUrl}>&lsaquo; Previous</a>}
  <div>
    <span>Page {currentPage}/{lastPage}</span>
    <span class="total">{total} total {label}</span>
  </div>
  {nextUrl && <a href={nextUrl}>Next &rsaquo;</a>}
  {!nextUrl && <i>Next &rsaquo;</i>}
</nav>

<style>
  nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
    font-size: 1rem;
  }

  .total {
    font-size: 0.7rem;
    opacity: 0.5;
  }

  i {
    font-style: normal;
    pointer-events: none;
    opacity: 0.5;
  }

  div {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 1.2rem;
    gap: 0.2rem;
    padding: 0.3rem 0.7rem;
    border: 2px double var(--content-subtle);
  }

  a {
    text-decoration: none;
    border-radius: 1em;
    padding: 0.3rem 0.7rem;
    font-size: 0.9rem;
    border: 2px solid var(--font-color);
  }
</style>
