---
import { SITE } from "@constants";
import HeadMeta from "@components/HeadMeta.astro";
import Nav from "@components/Nav.svelte";
import Footer from "@components/Footer.svelte";
import FullHero from "@components/FullHero.svelte";

import "@css/reset.scss";
import "@css/base.scss";
import "@css/themes/chill-space/chill-space.scss";

const {
  pageTitle,
  pageDescription,
  noBreadcrumbs,
  removeSiteTitle,
  fullHeroTitle,
  fullHeroColorTitle = undefined,
  fullHeroSubtitle = undefined,
  fullHeroImage = undefined,
  fullHeroButtons = [],
  fullHeroFeature = undefined,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />

    <!-- Title -->
    <title>
      {pageTitle && `${pageTitle}${removeSiteTitle ? "" : " • "}`}{
        !removeSiteTitle ? SITE.TITLE : ""
      }
    </title>

    <!-- Preload Font -->
    <link
      rel="preload"
      href="/fonts/SpaceGrotesk-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Oxanium-SemiBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/BitcountPropSingle-Light.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <!-- Meta -->
    <HeadMeta
      pageTitle={`${pageTitle ? `${removeSiteTitle ? pageTitle : pageTitle + " • "}` : ""}${!removeSiteTitle ? SITE.TITLE : ""}`}
      {pageDescription}
    />
  </head>

  <body>
    <!-- Nav -->
    <a class="skip-to-content" href="#main">Skip to content</a>
    <Nav client:load currentPage={Astro.url.pathname} {noBreadcrumbs} />

    <!-- Full Hero -->
    {
      fullHeroTitle && (
        <FullHero
          client:load
          title={fullHeroTitle}
          colorTitle={fullHeroColorTitle}
          subtitle={fullHeroSubtitle}
          image={fullHeroImage}
          buttons={fullHeroButtons}
          feature={fullHeroFeature}
        />
      )
    }

    <!-- Main Content -->
    <main id="main">
      <slot />
    </main>

    <!-- Footer -->
    <Footer client:load />

    <!-- Say hi to consolers -->
    <script is:inline>
      console.log(
        "%c.........................\n          Hello          \n      (づ｡◕‿‿◕｡)づ     \n  Welcome to pstraw.net  \n.........................",
        "background: #151515; color: #FFEE88;"
      );
    </script>
  </body>
</html>
