---
import { emoji } from "@util";
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.svelte";
import Embed from "@components/Embed.svelte";
const { frontmatter, slug } = Astro.props;
---

<BaseLayout
  pageTitle={`${emoji("friend")} My friend ${frontmatter.title}`}
  noBreadcrumbs={true}
>
  <section class="friend-layout">
    <div class="head">
      <Hero
        text={frontmatter.title}
        subtext={frontmatter?.aka ? `aka ${frontmatter.aka}` : null}
      />
      {
        frontmatter?.tags && (
          <div class="tags">
            {frontmatter?.tags.map((t) => (
              <span>{t}</span>
            ))}
          </div>
        )
      }
    </div>
    <div class="inner">
      {
        frontmatter?.images && (
          <div class="images">
            <h2 class="h4">Images</h2>
            {frontmatter?.images.map((i) => (
              <img src={`/images/friends/${i}`} alt="" />
            ))}
          </div>
        )
      }
      <div class="content">
        <slot />
      </div>
      {
        frontmatter?.media && (
          <div class="media">
            <h2 class="h4">Media</h2>
            {frontmatter?.media.map((i) => (
              <Embed url={i} />
            ))}
          </div>
        )
      }
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  @use "@css/util";

  :global(.head .hero) {
    margin: 0;
    padding: 0;
  }

  .head {
    padding-top: 0.8em;
    padding-bottom: 0.6em;
    margin-bottom: 1rem;

    .tags {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      font-size: 1rem;
      margin-top: 0.5rem;
      pointer-events: none;

      span {
        line-height: 1;
        border: 1px solid var(--background-accent);
        padding: 5px 10px;
      }
    }
  }

  .inner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 0 var(--site-padding) 1rem;

    h2 {
      margin-bottom: 1rem;
      text-align: left;
    }

    .images {
      text-align: center;

      img {
        margin-bottom: 1rem;
        border: 4px solid var(--font-color);
        border-radius: 3px;
      }

      img:last-child {
        margin-bottom: 0;
      }
    }

    //@TODO name column areas and fix the collapsing for mobiles
    @include util.mq(md) {
      grid-template-columns: 250px 1fr;
    }

    @include util.mq(lg) {
      grid-template-columns: 300px 1fr 300px;
    }
  }
</style>
